.movies-board {
    display: flex;
    gap: 10px;
    max-height: 350px;
    padding: 10px 0px;
    border: 1px solid #ddd;
    overflow-x: auto;
}

.movies-board .movie-list {
    min-width: 200px;
    height: auto;
}

.movies-board::-webkit-scrollbar {
    width: 0;
}

.movie-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    background-color: red;
    max-width: 100%;
    margin-right: 2px;
}

.movie {
    position: relative;
    overflow: hidden;

}

.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.movie .movie-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    /* 기본적으로 투명하게 설정하여 숨김 */
    position: absolute;
    /* 위치 설정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 배경색 및 투명도 조절 */
    color: white;
    /* 텍스트 색상 */
    padding: 10px;
    /* 내부 여백 설정 */
    box-sizing: border-box;
    transition: opacity 0.3s;
    /* 투명도 변화에 대한 전환 효과 설정 */
    font-size: 0.8rem;
    text-align: center;
    cursor: pointer;
}

.movie:hover .movie-desc {
    opacity: 1;
    /* 마우스를 올렸을 때 투명도를 1로 변경하여 보이도록 함 */
}

.movie-title {
    text-align: center;
}

.rank {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}